<button class="waves-effect waves-light btn" style="margin-top : 10px; margin-bottom : 10px" ng-click="start()" ng-show="isUnseen">Commencer</button>

<div ng-show="isActiv">
	<div class="board"></div>

	<div class="score">
		<span>0</span>
		<div class="next-tetrimino"></div>
		<small><span>0</span> lignes</small>
	</div>
</div>

<div ng-show="isHidden">
	<button class="waves-effect waves-light btn-large" style="width : 300px; margin-top : 20px" ng-click="newSolo()" >
		<i class="material-icons right">looks_one</i>Partie Solo</button>
	<br/>
	<button class="waves-effect waves-light btn-large" style="width : 300px; margin-top : 20px" ng-click="choiceVS()">
		<i class="material-icons right">looks_two</i>Duel</button>
</div>


<div ng-show="isChoiceVS">
	<button class="waves-effect waves-light btn-large" style="margin-top : 20px" ng-click="newVS()">
		<i class="material-icons right">fiber_new</i>Nouvelle Partie</button>

	<select style="margin-top : 20px" ng-model="selectedGame">
		<option ng-repeat="game in games | filter: { type: true } | filter: { status: false } | filter : playerFilter" value="{{game.idGame}}">{{game.idGame}} - {{game.player1.username}} - {{game.scoreA.points}}</option>
	</select>
	<button class="waves-effect waves-light btn-large" style="margin-top : 20px" ng-click="secondPlayerVS()">Rejoindre cette Partie</button>

</div>
