<div class="col s12">
<div class="row">
	<div class="input-field col s6 offset-s3">
		<input type="text" id = "username" ng-model="newplayer.username" />
		<label for="username">Nom d'utilisateur</label>
	</div>
	<div class ="input-field col s6 offset-s3">
			<input type="password" id="password" ng-model="newplayer.password" />
			<label for="password">Mot de passe</label>
	</div>
	<div class ="input-field col s6 offset-s3">
		<input type="text" id="lastname" ng-model="newplayer.lastName" />
		<label for="lastname">Nom de famille</label>
	</div>
	<div class ="input-field col s6 offset-s3">
		<input type="text" id="Prénom" ng-model="newplayer.name" />
		<label for="Prénom">Prénom</label>
	</div>
	<div class ="input-field col s6 offset-s3">
		<input type="submit" class="btn waves-effect waves-light" ng-click="sinscrire()" />
	</div>
</div>
</div>
