<table ng-controller="registerController">
	<tr>
		<td>Nom d'utilisateur :</td>
		<td><input type="text" ng-model="newplayer.username" /></td>
	</tr>
		<tr>
		<td>Mot de passe :</td>
		<td><input type="password" ng-model="newplayer.password" /></td>
	</tr>
		<tr>
		<td>Nom de famille :</td>
		<td><input type="text" ng-model="newplayer.lastName" /></td>
	</tr>
		<tr>
		<td>Prénom :</td>
		<td><input type="text" ng-model="newplayer.name" /></td>
	</tr>
		<tr>
		<td></td>
		<td><input type="submit" ng-click="sinscrire()" /></td>
	</tr>
</table>