.board,
.score {
	position: relative;
	float: left;
	background: #F5F5F5;
	border: solid 1px black;
}




.board {
	width: 250px;
	height: 500px;
	background: #E0F2F1;
}




.score {
	width: 200px;
	height: 300px;
	margin-left: 20px;

	font-family: "Orbitron";
	color: black;
	font-size: 60px;
}


.score > * {
	display: block;
	width: 100%;
	text-align: center;
}

.score > span {
	font-size: 60px;
}


.score .next-tetrimino {
	position: relative;
	width: 100px;
	margin: 0 auto;
}

.score .next-tetrimino .tetrimino {
	top: 15px;
	left: 15px;
}

.score .next-tetrimino .tetrimino.I {
	transform: rotate(90deg) translateX(5px) translateY(-85px);
}

.score .next-tetrimino .tetrimino.O {
	left: 25px;
}


.score > small {
	position: absolute;
	bottom: 25px;
	font-size: 12px;
}



.tetrimino {
	position: absolute;
	top: 0;
	left: 0;
}

.tetrimino.ghost {
	opacity: 0.5;
}



.bloc {
	position: absolute;
	width: 25px;
	height: 25px;
	border: solid 1px white;
	box-sizing: border-box;

	transition: all 0.25s ease;
}

.bloc.affichage{
	width: 10px;
	height: 10px;
}


.bloc.removing {
	animation: removing 0.25s;
}




@keyframes removing {
	0% { border-radius: 0; }
	25% { border-radius: 100%; }

	75% { transform: scale(1); }
	100% {
		border-radius: 100%;
		transform: scale(0);
	}
}




@media (max-width: 600px) {
	.top-nav {
		display: none;
	}

	.board {
		width: 250px;
		background: #E0F2F1;
	}

	.score {
		display: none;
	}
}
